<script id="timetables-template" type="text/x-template">
    {% raw %}
    <div>
        <div class="page-header">
            <h1>Timetables <small>{{ timetables[current_timetable].description }}</small></h1>
        </div>
        <div class="btn-group">
            <button v-for="(stop, stop_name) in timetables"
                    type="button"
                    v-on:click="current_timetable = stop_name"
                    :class="stop_name == current_timetable ? 'btn btn-default active' : 'btn btn-default'">{{ stop.address }}</button>
        </div>
        <table v-if="current_timetable == stop_name" v-for="(stop, stop_name) in timetables" class="timetable-table table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Route</th>
                    <th>Destination</th>
                    <th>Stop</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="stoptime in stop.stoptimes">
                    <th>{{ stoptime.arrival }}</th>
                    <th>
                        {{ stoptime.route }}
                        <a v-for="user in users" href="#"
                           :class="'favorite_routes' in user.data && user.data.favorite_routes.indexOf(stoptime.route) !== -1
                                  ? 'glyphicon glyphicon-remove remove-route' : 'glyphicon glyphicon-plus add-route'"
                           v-on:click="TIMETABLES.toggleFavoriteRoute(user.auth_id, stoptime.route)"></a>
                    </th>
                    <th>{{ stoptime.headsign }}</th>
                    <th>{{ stop.address }}</th>
                </tr>
            </tbody>
        </table>
    </div>
    {% endraw %}
</script>
<script>
    var TIMETABLES = {
        activate: function() {
            console.log("activated timetables");
        },
        deactivate: function() {
            console.log("deactivated timetables");
        },
        updateTimetables: function() {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: "/timetables/",
                success: function(data) {
                    if (!("timetables" in infoscreen.data)) {
                        // Default to stops leaving from A.I. Virtasen aukio/Väinö Auerin katu
                        infoscreen.data.current_timetable = "virtanen";
                    }
                    infoscreen.data.timetables = data["stops"];
                    Vue.set(infoscreen.data, "timetables", data["stops"]);
                }
            });
        },
        toggleFavoriteRoute: function(authId, route) {
            var userData = infoscreen.data.users[authId];

            if (!("favorite_routes" in userData.data)) {
                userData.data["favorite_routes"] = [];
            }

            var routeIndex = userData.data["favorite_routes"].indexOf(route)
            if (routeIndex === -1) {
                userData.data["favorite_routes"].push(route);
            } else {
                userData.data["favorite_routes"].splice(routeIndex, 1);
            }
        },
        getStoptimesForRoutes: function(routes) {
            var results = [];

            Object.keys(infoscreen.data.timetables).forEach(
                function(key, index) {
                    var matches = infoscreen.data.timetables[key].stoptimes.filter(
                        stoptime => routes.indexOf(stoptime.route) !== -1);

                    for (var j=0; j < matches.length; j++) {
                        matches[j]["address"] = infoscreen.data.timetables[key].address;
                        results.push(matches[j]);
                    }
                }
            );

            results.sort(
                function(a, b) {
                    var timeA = a["arrival"].split(":");
                    var aSeconds = (Number(timeA[0]) * 60) + Number(timeA[1]);

                    var timeB = b["arrival"].split(":");
                    var bSeconds = (Number(timeB[0]) * 60) + Number(timeB[1]);

                    return aSeconds - bSeconds;
                }
            );

            return results;
        }
    };
    $(document).ready(function() {
        var infoscreen = self.infoscreen;

        TIMETABLES.updateTimetables();

        // Update timetables every 30s
        window.setInterval(function() {
            TIMETABLES.updateTimetables();
        }, 30000);
    });

    infoscreen.data.current_timetable = "virtanen";
    infoscreen.data.timetables = undefined;
    infoscreen.data.TIMETABLES = TIMETABLES; // Expose TIMETABLES methods
</script>
