<script id="unicafe-template" type="text/x-template">
    <div class="page-header">
        <h1>Menu</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th>Panini</th>
                <th>Panini</th>
                <th>Panini</th>
                <th>Panini</th>
                <th>Panini</th>
            </tr>
        </tbody>
    </table>
</script>
<script>
var infoscreen = self.infoscreen;

var UNICAFE = {
    activate: function() {
        console.log("activated unicafe");
    },
    deactivate: function() {
        console.log("deactivated unicafe");
    }
};
infoscreen.tabs.push(UNICAFE);
</script>
