<script id="users-template" type="text/x-template">
    {% raw %}
    <div>
        <div class="page-header">
            <h1>Users</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div v-for="user in users"
                     class="col-md-3 user-column">
                    <div class="page-header">
                        <h1>
                            {{ user.name }}
                        </h1>
                    </div>
                    <img class="user-avatar" :src="user.image"/>
                </div>
                <div v-if="Object.keys(users).length < 4"
                     class="col-md-3">
                    <p class="login-column">
                        <span class="glyphicon glyphicon-qrcode"></span>
                        <span class="glyphicon glyphicon-phone"></span>
                        <h3 style="text-align: center;">
                            Login by placing a NFC tag, scanning
                            a QR code or performing a tap dance.
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
</script>
<script>
var infoscreen = self.infoscreen;

var USERS = {
    activate: function() {
        console.log("activated users");
    },
    deactivate: function() {
        console.log("deactivated users");
    }
};
</script>
