.main-container {
    display: flex;

    height: 1080px;
}

#tab-list-area {
    background-color: #eeeeee;

    min-width: 180px;
    max-width: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-list-time {
    font-size: 2.5em;
    font-family: monospace;
    text-align: center;
}

#page-area {
    padding-left: 20px;
    padding-right: 20px;

    flex-grow: 1;
}

.tab-button {
    display: block;

    background-color: #eeeeee;
    padding-top: 3em;
    padding-bottom: 3em;

    width: 100%;

    text-align: center;
}

.user-tab-button {
    display: block;

    background-color: #7fDbff;
    padding-top: 3em;
    padding-bottom: 3em;

    width: 100%;

    text-align: center;
}

.user-tab-button > span {
    color: black;
    font-size: 5em;
}

.user-tab-button > .logged-in-count {
    font-size: 2em;
    color: black;
}

.user-tab-button.active {
    background-color: #0074d9;
}

.tab-button.active {
    background-color: white;
}

.tab-button > span {
    color: black;
    font-size: 5em;
}

.tab-button > svg {
    color: black;
    font-size: 5em;
}

.login-column {
    padding-top: 100px;
    font-size: 3em;
    text-align: center;
}

.user-column {
    text-align: center;
}

.user-avatar {
    width: 256px;
    height: 256px;
}

.timetable-table {
    font-family: monospace;
    font-size: 1.5em;
}

.remove-route {
    color: red;
}

.add-route {
    color: green;
}
