{% extends "base.html" %}

{% block content %}
    {% raw %}
    <div id="app" class="main-container">
        <div id="tab-list-area">
            <div>
                <p class="tab-list-time">{{ current_time }}</p>
                <a v-for="(tab, index) in tabs"
                   v-if="!tab.user_tab" href="#"
                   :class="index == current_tab ? 'tab-button active' : 'tab-button'"
                   v-on:click="openTab(index)"
                   :id="tab.id">
                    <component :is="tab.icon_type" :class="tab.icons"></component>
                </a>
            </div>
            <div>
                <a href="#"
                   :class="Object.keys(users).length ? 'user-tab-button active' : 'user-tab-button'"
                   v-on:click="openTab(tabs.length-1)">
                    <span class="glyphicon glyphicon-user"></span>
                    <div class="logged-in-count">
                        {{ Object.keys(users).length ? Object.keys(users).length + " user(s) logged in" : '' }}</div>
                </a>
            </div>
        </div>
        <div id="page-area">
            <component :is="tabs[current_tab].id"></component>
        </div>
    </div>
    {% endraw %}
{% endblock content %}
{% block extra_js %}
    <script>
    infoscreen.data.tabs = {{ tabs|tojson|safe }};
    </script>
    {% for tab in tabs %}
        {% include "tabs/" + tab.id + ".html" %}
        <script>addTab("{{ tab.id }}");</script>
    {% endfor %}
{% endblock %}
